// container breakpoints
$xxl: 1680px;
$xl: 1150px;
$lg: 970px;
$md: 730px;
$sm: 550px;
$xs: 320px;

// styles
$font_size: 16px;
$font_family: 'Poppins', sans-serif;
$font_weight: 400;

// colors
$white: #ffffff;
$black: #1D1A2F;
$grey: #5C596D;
$placeholder: #9692b0;
$border_color: #B3C8FD;
$bg_color: #fff;
$brand_color: #1B5BF7;  