@import "../../../styles/components/_vars.scss";

.footerTop {
  background: #e0e8ff;

  .container {
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .footer-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 76px;
          height: 26px;

        }

        span {
          border-left: 0.996749px solid #1b5bf7;
          font-weight: 600;
          font-size: 17.1121px;
          line-height: 26px;
          max-height: 20.93px;
          padding-left: 5px;
          display: flex;
          align-items: center;
        }
      }

      .subtitle {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        color: $black;
        margin: 10px 0 25px;
        max-width: 513px;
      }

      .downloads {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;

        img {
          // min-width: 168.37px;
          max-width: 168.37px;
          height: 49.89px;
          cursor: pointer;

        }
      }
    }

    .right {
      margin: 0 0px 0 35px;
      display: flex;
      align-items: center;

      .qr-code {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;

        img {
          width: 100%;
        }
      }

      span {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        max-width: 248px;
        width: 100%;
      }
    }
  }
}
