.popCategories {
  padding: 32px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card {
      padding: 24px;
      width: 300px;
      height: 448px;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.08);
      border: 1px solid transparent;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: 1s;

      &:hover {
        border: 1px solid #b3c8fd;

        .hover-div {
          opacity: 1;
          transition: 0.3;
        }
      }

      &:nth-child(3) {
        button {
          background: #f7f7f7;
          color: inherit;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: none;
          }
        }
      }

      &:last-child {
        button {
          background: #e0e8ff;
          color: #1b5bf7;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: none;
          }
        }
        .card-icons {
          img {
            &:first-child {
              width: 50%;
              filter: saturate(920%);
            }
          }
        }
      }

      .hover-div {
        top: 25%;
        left: 50%;
        width: 193px;
        height: 44px;
        position: absolute;

        background: #ffffff;
        border-radius: 25px;

        font-weight: 500;
        color: #9692b0;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        cursor: pointer;
        transition: 0.5s;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.15);
      }

      .cardImage {
        width: 100%;
      }

      .card-info {
        .card-price {
          display: flex;
          flex-direction: column;

          span {
            &:first-child {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: #1d1a2f;
              margin: 16px 0 8px;
            }

            &:last-child {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #5c596d;
            }
          }
        }

        .card-stars {
          margin: 16px 0 20px;
          display: flex;
          gap: 1px;
        }

        .btns-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .card-icons {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }
  }
}
