@import "../../../styles/components/_mixins.scss";
@import "../../../styles/components/vars.scss";

.middleNav {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .search_input {
    width: 677px;
    height: 48px;
    display: flex;
    padding: 15px 20px;
    border-radius: 4px;
    align-items: center;
    background: #f7f7f7;
    justify-content: space-between;
    cursor: pointer;

    input::placeholder {
      color: #9692b0;
    }

    input {
      width: 100%;
      margin: 0 15px;
      border: none;
      font-weight: 500;
      color: #9692b0;
      background: transparent;
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 348px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
