.popCategories {
  // width: 100%;

  padding: 32px 0 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-wrapper {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
