.store {
  margin-top: 41px;

  .store__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .store-address__list {
    margin-top: 24px;

    .store-address__list-item {
      width: 100%;
      height: 116px;
      border: 2px solid #f2f2f2;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 32px;
      margin-bottom: 10px;

      display: flex;
      align-items: flex-start;
      gap: 70px;

      &:hover {
        background-color: #f2f2f2;
        color: #1d1a2f;
      }

      div {
        width: 100%;
        height: 100%;
        max-width: 350px;
        max-height: 52px;

        p {
          width: 100%;
        }
      }

      .store-address__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }

      .store-address__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  .store-info {
    margin-top: 27px;
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      gap: 0 20px;

      svg {
        width: 24px !important;
        height: 24px !important;
      }
    }

    .store-info__img {
      border-radius: 4px;
      margin-bottom: 24px;
      max-width: 410px;
      width: 100%;
    }

    .store-info__address {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }

    .store-info__work-time,
    .store-info__tel {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    .store-info__more p {
      margin-bottom: 42px;
    }

    .store-info__map {
      width: 853px;
      height: 393px;
    }
  }
}
