.popularBrands {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 64px;

  .btns-wrapper {
    width: 100%;
    display: flex;
    gap: 6.8px;
    justify-content: space-between;
    margin-bottom: 24px;

    button {
      width: 156px;
      height: 36px;
      font-size: 15px;
      border-radius: 4px;
      background: #f7f7f7;

      &.active {
        border: 1px solid #b3c8fd;
        color: #1b5bf7;
      }
    }
  }

  .cards-wrapper {
    width: 100%;
    display: flex;
    gap: 12px 0px;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}
