@import "../../styles/components/_vars.scss";

.feedbacks {
  margin-top: 41px;

  textarea {
    font-size: $font_size;
    font-family: $font-family;
  }

  ::placeholder {
    color: $placeholder;
  }
}

.feedbacks__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.feedbacks__text {
  width: 494px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 22px;
}

.feedbacks-form__input {
  margin: 0;
  padding: 14px 16px;
  width: 520px;
  height: 48px;
  background: #f7f7f7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 8px;
  font-size: 16px;
}

.feedbacks-form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.feedbacks-form__textarea {
  width: 520px;
  height: 146px;
  background: #f7f7f7;
  border-radius: 4px;
  outline: none;
  resize: none;
  display: flex;
  flex-direction: column;
  padding: 14px 16px;
  margin-top: 8px;
}

.feedbacks-form__btn {
  width: 520px;
  height: 56px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 74px;
  font-family: inherit;
  background: #eae9ef;
  color: #9692b0;
  font-size: 16px;
  pointer-events: none;
  user-select: none;
}

.btn {
  border-radius: 4px;
  padding: 18px;

  &.blue {
    background: #1b5bf7;
    color: $white;
    pointer-events: unset;
  }
}
