.greyCard {
  display: flex;
  border-radius: 8px;
  background: #f7f7f7;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-width: 235px;
  max-width: 235px;
  height: 295px;
  padding: 24px 32px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;

  &:hover {
    background: #e0e8ff;
    border: 10px solid #f7f7f7;
  }

  img {
    width: 100%;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}
