.addToCartBtn {
  width: 131px;
  height: 40px;
  padding: 10px 15px;
  background: #1b5bf7;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    img {
      transform: rotate(25deg);
    }
  }

  img {
    filter: brightness(5);
    transition: 0.3s;
  }
}
