@import "../../../styles/components/_vars.scss";

.footerBottom {
  padding: 96px 0 32px;
  display: flex;
  align-items: flex-start;
  // gap: 90px;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    cursor: pointer;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;

    .bottomTexts,
    .topTexts {
      display: flex;
      align-items: flex-start;
      gap: 90px;

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
          font-size: 20px;
          line-height: 24px;
          color: $black;
          margin-bottom: 4px;
        }

        .subtitle {
          font-size: 16px;
          line-height: 20px;
          margin-top: 12px;
          cursor: pointer;
        }
      }
    }

    .bottomTexts {
      gap: 60px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 90px;
   
    .title {
      font-size: 20px;
      line-height: 24px;
      color: $black;
      margin-bottom: 18px;
    }
    .payments-wrapper {
      .img-div {
        gap: 16px;
        display: flex;
        align-items: center;
      }
    }

    .socials-wrapper {
      .img-div {
        gap: 25px;
        display: flex;
        align-items: center;
      }
    }
  }

  .bottom-text {
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 95px;

    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;

    span {
      font-weight: 600;
    }
  }
}
