@import "../../../styles/components/_mixins.scss";
@import "../../../styles/components/vars.scss";

.topNav {
  width: 100%;
  padding: 10px 0;
  box-shadow: inset 0px -1px 0px #eeeeee;

  .container {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      gap: 32px;

      li {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
      }
    }

    .topNav__info {
      img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 20px;
        max-height: 20px;
      }
    }
  }
}
