@import "../../../styles/components/_vars.scss";
@import "../../../styles/components/mixins.scss";

// .registration {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba($black, $alpha: 0.8);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   z-index: 9999;

.modal-card.sign-in {
  background: $white;
  // width: 40%;
  width: 100%;
  max-width: 552px;
  max-height: 688px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 32px;
  // Media
  @include xl {
    width: 70%;
  }
  @include md {
    width: 85%;
  }

  .title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .subtitle {
    margin: 0 0 24px;
  }

  .input {
    width: 410px;
    height: 48px;
    background: #f7f7f7;
    border-radius: 4px;
    padding: 14px 16px;
    color: $black;
    font-size: 16px;
    margin-bottom: 12px;
  }

  input::placeholder {
    color: #9692b0;
  }

  .btn {
    width: 410px;
    height: 48px;
    border-radius: 4px;
    background: #eae9ef;
    margin-bottom: 24px;
    padding: 14px;
    color: #9692b0;
    font-weight: 500;
    font-size: 16px;

    &.blue {
      background: #1b5bf7;
      color: $white;
    }
  }

  .form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .privacy {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      max-width: 410px;
      margin-bottom: 24px;

      input {
        border: 2px solid #1b5bf7;
        border-radius: 4px;
        min-width: 23px;
        min-height: 23px;
      }

      p {
        width: 100%;
        max-width: 350px;

        a {
          color: #1b5bf7;
        }
      }
    }
  }

  .modal-card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    button {
      color: #1b5bf7;
      background-color: transparent;
      font-size: 16px;

    }

    .wrap {
      display: flex;
      align-items: center;
      gap: 24px;

      a {
        width: 200px;
        height: 48px;
        background: #f7f7f7;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 76px;
          height: 18px;
        }
      }
    }
  }
}
// }
