@import "../../../styles/components/_mixins.scss";
@import "../../../styles/components/_vars.scss";

.bottomNav {
  background: #f8f8f8;
  margin-bottom: 32px;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 10px 16px;
        font-size: 15px;
      }
    }
  }
}
