.homeAppliances {
  padding: 32px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
