.deliver {
  margin: 41px auto;

  .deliver__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .deliver__text,
  .deliver-type {
    max-width: 632px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 41px;
  }

  .deliver-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
    .deliver-list__item {
      width: 410px;
      height: 150px;
      border: 2px solid #eae9ef;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 32px;

      .deliver-type {
        margin-bottom: 22px;
      }

      .deliver-price {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #1d1a2f;
      }
    }
  }
}
